@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.w-239 {
  width: 239px !important;
}

.bg-purple {
  background-color: #6f42c1; /* Bootstrap's purple color */
}

.sidebar {
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
}

.nav-link span {
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px; /* Adjust based on icon size */
}