@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
body {
  font-family: 'Arial', sans-serif;
  background-color: #F8F8F8;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-purple {
  background-color: #5437ED; /* Bootstrap's purple color */
}

.sidebar {
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
}
body {
  font-family: 'Poppins', sans-serif;
}
.nav-link span {
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px; /* Adjust based on icon size */
}



/* side panel css */
.mb-1px {
  margin-bottom: 1px !important;
}